.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  transition: margin 0.3s ease-in-out;
  border: 1px solid transparent;
  cursor: default;
}
img {
  height: 155px;
  width: 194px;
}
.hover:hover {
  border: 1px solid var(--red);
  cursor: pointer;
  margin-top: -4px;
}
.title-container {
  text-align: center;
}
h3 {
  font-size: var(--s-xl);
  font-weight: var(--w-bold);
  color: var(--brown);
}
h5 {
  font-size: var(--s-2xl);
  font-weight: var(--w-bold);
  color: var(--brown);
  margin: 0 0 20px 0;
}
p {
  font-size: var(--s-sm);
  font-weight: var(--w-medium);
  width: 70%;
}
