nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
}
img {
  width: 236px;
  height: 56px;
}
ul {
  list-style-type: none;
}
.nav-list {
  display: flex;
  list-style-type: none;
  gap: 24px;
}
.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0;
  gap: 4px;
  position: absolute;
  top: 32px;
  left: -40px;
  background-color: var(--brown);
  border-radius: 4px;
  z-index: 1;
}
a {
  font-family: var(--pttn-font);
  font-weight: var(--w-semibold);
  text-decoration: none;
  font-size: var(--s-medium);
  color: var(--brown);
}
.dropdown {
  display: none;
  position: relative;
  cursor: pointer;
}
.hidden {
  display: none;
}
@media (max-width: 1024px) {
  nav {
    padding: 20px 30px;
  }
  span {
    color: var(--brown);
    font-size: var(--s-base);
  }
  a {
    color: white;
  }
  .nav-list {
    display: none;
  }
  .dropdown {
    display: block;
  }
  img {
    width: 140px;
    height: 40px;
  }
  a {
    font-size: var(--s-sm);
  }
}
