<section>
  <h1>PEDIDO</h1>
  <form #orderForm="ngForm" (ngSubmit)="handleOrderSubmit(orderForm)">
    <div
      *ngFor="let item of order.items; let i = index; trackBy: trackById"
      class="inputs-container"
    >
      <app-input-container
        label="Produto"
        name="product{{ item.id }}"
        [(ngModel)]="item.product"
        ngDefaultControl
        #productCtrl="ngModel"
        [value]="orderBurguer && i === 0 ? orderBurguer : ''"
        [required]="true"
      ></app-input-container>
      <app-input-container
        label="Quantidade"
        name="quantity{{ item.id }}"
        [(ngModel)]="item.quantity"
        ngDefaultControl
        #quantityControl="ngModel"
        [required]="true"
      ></app-input-container>
      <button
        *ngIf="i > 0"
        type="button"
        class="delete-button"
        (click)="handleDeleteItem(item.id)"
      >
        🗑️
      </button>
    </div>
    <app-textarea-container
      label="Observação"
      name="observation"
      [(ngModel)]="order.observation"
      ngDefaultControl
    ></app-textarea-container>
    <div class="buttons-container">
      <app-button
        text="ADICIONAR ITEM"
        type="button"
        variant="secondary"
        (click)="handleAddNewItem()"
      ></app-button>
      <app-button
        text="FINALIZAR"
        type="submit"
        [disabled]="orderForm.invalid === null ? false : orderForm.invalid"
      ></app-button>
    </div>
  </form>
</section>
